<div class="card" style="width:400px;margin-top: 11%;margin-bottom: auto;margin-left: auto;margin-right: auto;" >
    <h2 align = "center">Edit User</h2>
    <div class="card-body" style = "margin-left:10px;margin-right:10px;">
  <form [formGroup] = "userUpdateForm" (ngSubmit) = "updateUser()">
    <label>Name</label>
    <input class = "form-control" formControlName = "name">
    <label>Email Address</label>
    <input class = "form-control" formControlName = "email">
    <label>Phone Number</label>
    <input class = "form-control" formControlName = "mobile">
    <br>
    <div class = "row">
<div class = "col-12">
    <button class="btn btn-primary" style = "width:100%" type = "submit">Update</button>
</div>

    </div>
   
     
  </form>
   
    </div>
  </div>