<div class="card" style="width:400px;margin-top: 11%;margin-bottom: auto;margin-left: auto;margin-right: auto;" >
    <h2 align = "center">User Registration</h2>
    <div class="card-body" style = "margin-left:10px;margin-right:10px;">
  <form [formGroup] = "userForm" (ngSubmit) = "createUser()">
    <label>Name</label>
    <input class = "form-control" formControlName = "name">
    <label>Email Address</label>
    <input class = "form-control" formControlName = "email">
    <label>Phone Number</label>
    <input class = "form-control" formControlName = "mobile">
    <label>Password</label>
    <input class = "form-control" formControlName = "password">
    <br>
    <div class = "row">
<div class = "col-6">
    <button class="btn btn-primary" style = "width:100%" type = "submit">Register</button>
</div>
<div class = "col-6">
    <a class="btn btn-primary" style = "width:100%" routerLink = "/login">Move to Login</a>
</div>
    </div>
   
     
  </form>
   
    </div>
  </div>