<div class = "container">
<br>
    <div class = "row">
        <div class = "col-12" align = "center">
            <h3>Home</h3>
        </div>

    </div>

    <div class = "row">
        <div class = "col-8">
            <div class="alert alert-light" align = "center" style = "border:dotted;">
                <strong >List of Users!</strong> 
              </div>
        </div>
        <div class = "col-4">
            <a class="btn btn-primary" style = "width:100%;height: 80%;" routerLink = "/">Create User</a>
        </div>

    </div>
    
    <br>
    <div class = "row">
        <div class = "col-3" >
            <div class="card" style="width:240px;" >
               
                <div class="card-body" style = "margin-left:10px;margin-right:10px;">
              
                <label>Name</label>
               <p></p>
                <label>Email Address</label>
                <p></p>
                <label>Phone Number</label>
                <p></p>
                <br>
                <div class = "row">
            <div class = "col-6">
                <button class="btn btn-primary" style = "width:100%" type = "submit" routerLink = "/editUser">Edit</button>
            </div>
            <div class = "col-6">
                <a class="btn btn-danger" style = "width:100%" routerLink = "/login">Delete</a>
            </div>
                </div>
                </div>
              </div>
        </div>
        
        
        
        
    
    </div>
</div>
