<div class="card" style="width:400px;margin-top: 11%;margin-bottom: auto;margin-left: auto;margin-right: auto;" >
    <h2 align = "center">User Login</h2>
    <div class="card-body" style = "margin-left:10px;margin-right:10px;">
  <form [formGroup] = "loginForm" (ngSubmit) = "login()">

    <label>Email Address</label>
    <input class = "form-control" formControlName = "email">

    <label>Password</label>
    <input class = "form-control" formControlName = "password">
    <br>
<div class = "row">
    <div class = "col-6">
        <button class="btn btn-primary" style = "width:100%" type = "submit">Login</button>
    </div>
    <div class = "col-6">
        <a class="btn btn-primary" style = "width:100%" routerLink = "/">Signup</a>
    </div> </div>
     
  </form>
   
    </div>
  </div>